/.emacs.desktop
/auto-save-list
/.session
/session.*
/custom.el
/configuration.el
*.elc
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
\#*
/elpa
/elpa-*
site-lisp/package/
/history
/eshell
/recentf
transient/
.lsp-session*
.DS_Store
smex-items
projectile-bookmarks.eld
